.header__container {
  padding: 15px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo > img {
  width: 200px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__info {
  margin-right: 20px;
}
.header__time {
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin: 0;
}
.header__phonenumber {
  font-size: 18px;
  font-weight: 500;
  color: #03a9f4;
  cursor: pointer;
  float: right;
}
.header__user {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.header__user > img {
  width: 25px;
  height: 25px;
}
.header__menu {
  background-color: #03a9f4;
}
.header__menu-container {
  display: flex;
  align-items: center;
}
.header__item {
  padding: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.header__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.item--active {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__dropdown {
  display: block;
  position: absolute;
  right: 0;
  width: 150px;
  margin-top: 10px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 2px 1px 3px rgb(0 0 0 / 20%);
}
.header__dropdown-item {
  padding: 10px;
}

.header__dropdown > .login {
  border-bottom: 1px solid rgb(0 0 0 / 20%);
}
