
.productItem {
  padding: 10px;
}
.productItem img {
  margin: 0 auto;
  height: 212px;
}
.product__text {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.productItem__name {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productItem__name:hover {
  color: #03a9f4;
}
.productItem__cost {
  cursor: pointer;
  display: block;
}
